<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><font color='#3b5998'>POS speed up start pos sessions within large products, partners and pricelists</font></h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                <td style="padding-left: 15px;">
                    <div class="oe_author">
                        <p>Company: TL Technology</p>
                        <p>Email: <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">thanhchatvn@gmail.com</a></p>
                    </div>
                </td>
            </p>
        </div>
    </div>
</section>

<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Why need this module</h2>
        <div class="oe_span12">
            <ul>
                <li>Default original pos odoo if you have smaller than 10k products, 10k partners, nothing problem</li>
                <li>But if your odoo database have 100k products, 100k partners or higher than (upto 4 millons datas). Cashiers start pos session very slow and take long times start pos for selling products</li>
                <li>This module can help you resolved times start pos</li>
            </ul>
        </div>
    </div>
</section>

<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Module main futures</h2>
        <div class="oe_span12">
            <ul>
                <li>Just need a few seconds to load  500.000, 1.000.000 or bigger than rows products, partners, pricelists</li>
                <li>Module can supported to 4 millions products, 4 millions customers</li>
                <li>Events: if any changes in back end such as products, partners, pricelists (create, delete, edit ). Auto sync to POS, no need reload pos sessions (supported POS session online and offline mode)</li>
                <li>Only start pos sessions with in some millions datas only need 20 30 seconds</li>
                <li>Only one times installing pos datas and use any where, any times, any devices</li>
                <li>Nothing loading background, only start pos need 20-30 seconds and start selling all products, all customers</li>
                <li>Nothing backend caches</li>
                <li>No xls, no json cache, no schedule auto update</li>
                <li>When backend clients change anything of products, customers. Auto sync to pos sessions (online/offline)</li>

            </ul>
        </div>
    </div>
</section>

<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Tested pass odoo community and enterprise both</h2>
        <div class="oe_span12">
            <ul>
                <li>Supported max 4.000.000 (4 millions) products</li>
                <li>Supported max 4.000.000 (4 millions) customers</li>
                <li>Supported max 4.000.000 (4 millions) pricelist items</li>
            </ul>
        </div>
    </div>
</section>


<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">How it work</h2>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Demo 4 millions products on POS</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/qnmR3MO_zWM" target="_blank">
                        <i class="fa fa-youtube-play"></i> (Youtube) video
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Need more futures</h2>
        <div class="oe_span12">
            <ul>
                <li><a href="https://www.odoo.com/apps/modules/12.0/pos_retail/" target="_blank">Please look our module: pos retail (all in one futures)</i></a></li>
            </ul>
        </div>
    </div>
</section>
