<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    POS CREDIT LINE </span></b></h4>
        </div>
    </div>

    <p align="left">The primary purpose of this module is is to differentiate the credit lined customer’s payment flow in point of sale. When credit lined customer’s payment is done in point of sale, user does not get option to pay the cash amount.

	Once the payment is done for the credit line customer, user gets an option to print reports.
	</p>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">There are no prerequisites required before the Installation</p>


    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">The module is available in Odoo 11 enterprise.
		For credit line customers, added a boolean field “credit line” in partner form’s point of sale section. This field helps user to know if the customer has a credit limit.</p>


    <div class="oe_centered">
        <p>In the above image, customer is “Agrolait” and in sale section boolean field Credit Line
		In Invoicing section, field Day of Payment is added, which calculates the day on which customer has to pay the amount.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="image/customer_form_view.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>If the customer’s boolean is ticked for the credit line, then at the time of payment in point of sale, the particular customer does not get an option to pay the amount in cash.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="image/pos_credit_line.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>In the above image, Agrolait customer is credit lined.
		In detail:
		</p>
        <div class="oe_centered">
	        <ul>
	            <li>Once all the items are selected in Point of sale, set the customer, Make sure that the customer has credit line boolean True.</li>
	            <li>After selecting the customer, <b>click on payment</b>.</li>
	            <li>After clicking on payment, user does not get option to pay cash amount, as it has credit line ticked.</li>
	            <li><b>Validate</b> the payment.</li>
	        </ul>
	    </div>
    </div>
    <div class="oe_centered">
        <p>Signature and reports are to be done for both credit lined customers and even for non credit lined customers.
		Before printing Delivery Notes, added a screen, where customer can do signature.
		Added a selection field to print the report type as A4 or A5, User can select the type of report.
		Added three types of reports, to be printed 
		</p>
        <div class="oe_centered">
	        <ul>
	            <li>Delivery Slip</li>
	            <li>Purchase Report</li>
	            <li>Invoice</li>
	        </ul>
	    </div>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="image/report.png" style="width: 100%;"/>
        </div>
    </div>
    <div class="oe_centered">
        <p>Added a functionality to merge invoice, from order list view when we have the same customer and same status for the order, those orders can be merged.
		</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="image/create_invoice.png" style="width: 100%;"/>
        </div>
    </div>
    <div class="oe_centered">
        <p>Invoice due date are calculated on the basis of payment terms on invoice and a custom field Day of Payment is added in the customer’s form view.


		For eg: If customer’s Day of Payment is given as 10 and in the account invoice, if invoice date is 12/27/2018 and if payment term is given as 30 days. Now, When user validates the invoice the 30 days of the payment term which gives 1/26/2019, but the payment has to be done on 10th date of the month, so final date of due invoice would be 02/10/2019.

		</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="image/due_date.png" style="width: 100%;"/>
        </div>
    </div>

</section>
