<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<h2 class="oe_slogan" style="font-size: 35px;"><b>POS Orders List</b></h2>
			<h3 class="oe_slogan" style="opacity: 1;">This module help to see the list of all the orders in POS, User can also see individual customers list of orders.
</h3><br/>
		</div>
	</div>
</section>

<section class="container mt32">
	<div class="row">
		<h4  style=" text-align: center;"><span> <a href="" target="_blank" class="btn btn-sm btn btn-primary" ><span class="o_ripple" ></span><i class="fa fa-youtube-play"></i>
			Click here for the video tutorial
		  </a></h4>
	</div>
</section>

<section class="container mt32">
	<div class="row">
		<h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span>POS Orders List</span></h4>
	</div>
</section>
<br>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Configuration</strong></h1>
		</div>
		
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">Select from options to set limit to load pos orders</h3>
			<img border="1"
				border-color:black; class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="session.jpg"><br />
		</div>
	</div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
		<h3 class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">POS Orders Button View</h3>
			<div class="oe_span6">  
				<span>In POS Screen "Orders" button appear,You can see all POS orders directly from POS.</span><br/>
				<img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="order_button.png">
			</div>
		</div>
</section>


<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<div class="oe_span6">
				<span>When you click on "View Orders" button you can see all POS orders directly from POS.</span><br/>
				<img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="order_button_view.png">
			</div>
		</div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
			<h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>List of POS Orders</strong></h1>
			<h3 class="text-info" style="font-size: 25px;">After clicking on view orders button you can see all POS orders.</h3>
				<br/>
				<img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="list_of_orders.png">
			</div>
		</div>
	</section>

<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Individual customers POS orders</strong></h1>
				<h3 class="text-info" style="font-size: 25px;">You can see "View Orders" button in customer's details to view relavant POS orders.</h3>
				<br/>
				<img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="customer_view_order.png"><br/><br/>
			</div>
		</div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h3 class="text-info" style="font-size: 25px;">By clicking on customer's view orders, You can see selected customer's POS orders.</h3>
				<img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="customer_order.png"><br/><br/>
			</div>
		</div>
	</section>

<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h3 class="text-info" style="font-size: 25px;">To view more details about orders you have to click on orders so you can see particular order's details.</h3>
				<img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="order_list1.png">
			</div>
		</div>
</section>
	
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
		   <a href="http://www.browseinfo.in" target="new">
				<img src="bi_logo.png">
			</a>
			<br>
					<a href="sales@browseinfo.in" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
			</div>
		</div>
	</section>
