
<!--		 main  Features block-->
<section class="oe_container oe_dark lead" style="padding-top:50px;">
														<!--				main heading /title-->
		<h2> 
			<font>
				<p class="text-primary text-center" style="color:#004460;" ><b>Mass Customer Invoice - Send by Mail </b>
				<br>For Helping to send invoice  to customers by Mass invoice mail wizard</p>
			</font>
		</h2> 
	<div class="oe_row">    
    	<div class="oe_span12">
        	<div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

<!--												first block main heading-->
        		<div class="panel-heading" style="background-color:#004460;">
        			<h3 class="panel-title" style="font-size: 25px;"  >
						<b style="color:white;"> DevIntelle Consulting Service Pvt.Ltd.</b>
					</h3>
       			 </div>
            	<div class="panel-body">
<!--									first block sub heading 1-->
            	<div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> 
						<b style="color:white;"> Features </b>
				</div>
<!--						first block sub contain 2-->
           		<ul class="list-unstyled ">
                <li> <i class="fa fa-hand-o-right text-primary"></i>This module allow to send invoice  to customers by Mass invoice mail wizard</li>  

            </ul>
          </div>
        </div>
    </div>
</div>
</section>

<!--					setup block -->
<section class="oe_container oe_dark lead">
	<div class="oe_row">    
    	<div class="oe_span12">
    		<div class="panel panel-success" id="wkid2" style="border-color:#004460;">
   				 <div class="panel-heading" style="background-color:#004460;">
   					 <h3 class="panel-title" style="font-size: 25px;">
						<i class="fa fa-cogs" style="color:white;"></i> 
						<b style="color:white;">Setup &amp; Configure</b> 
					</h3>
    			</div>  
       			<div class="panel-body">
        		<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">How to Work </b>
				</div>    
			      
				
				<p>
					<img class="oe_picture oe_screenshot" src="invoice_tree.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				
				<p class="text-primary"><b>NOTE:</b><br>&nbsp;&nbsp;&nbsp;Accounting --> Sales --> Customer Invoices<br/>Now select the Invoice Mass Mail Features</p><p>
				<p>
      			 </p><div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;></i>
<!--																	second block heading subtitle 2-->
						 <b style="color:white;"> Warning message  - When no Invoice Select</b>
				</div>	

       		<p>
			<i>If an invoice does not contain the email client , an error message is returned</i><br/>
			
		</p>
       <p><img class="oe_picture oe_screenshot" src="warning.png" alt="DevIntelle Consulting Service Pvt.Ltd."></p><p>
        	</p>
<!--																				second block heading subtitle 3-->
       <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Wizard to Send Mass Invoices Email Screen - Invoice Template </b>
		</div>
        </h4>
        	<p>
				<img class="oe_picture oe_screenshot" src="wizard_mail_templet.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
			</p>
			<p>
         </p>
	</div>
	<div class="alert alert-success " style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Invoice mail received Customer Inbox</b>
		</div>
        </h4>
				<img class="oe_picture oe_screenshot" src="invoice.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
			</p>
			<p>
         </p>
	</div>
   </div>
</div>
</div>
</section>
<!--							Footer block-->

<section class="oe_container ">
    <div class="oe_row oe_spaced">
<!--        <h2 class="text-center"><a href="http://devintelle.com/" target="_blank" style="color:#004460;"> Get In Touch</a></h2>-->
        <div class="oe_span6">
            <p class="oe_mt32">
				 <div class="oe_author"> <a href="http://www.devintelle.com/" target="_blank" style="color:#004460;"> DevIntelle Consulting Service Pvt.Ltd. </a></div>
                 <div class="oe_job">Contact Us  For <a href="mailto:info@devintelle.com" target="_top" style="color:#004460;"> Help, Support & More Customization</a>.</div>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered" class="oe_span6">
                <img class="oe_picture oe_screenshot" src="logo.png" width="80%">
       
            </div>
            <div class="oe_row_img oe_centered" class="oe_span6">
                <div class="oe_span3">
                    <a class="btn btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Twitter &nbsp;&nbsp; <span class="fa fa-facebook "></span> Facebook &nbsp;&nbsp; <span class="fa fa-linkedin"></span> Linkedin
                    </a>
                <div>
                
            </div>
        </div>
    </div>
	
</section>
