.pos .control-button {
    margin-left: 16px;
    line-height: 74px;
    /*padding: 0px 70px;*/
}
.screen-content .client-customer-reference{
    margin-left: 16px;
}
.add-signature .button {
    position: absolute;
    top: 0px;
    line-height: 32px;
    padding: 3px 13px;
    font-size: 20px;
    background: rgb(230, 230, 230);
    margin: 12px;
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
    transition: all 150ms linear;
}
.add-signature .button:hover {
    background: #efefef;
}
.add-signature .button:active {
    background: black;
    border-color: black;
    color: white;
}
.add-signature .button.highlight {
    background: rgb(110,200,155);
    color: white;
    border: solid 1px rgb(110,200,155);
}
.add-signature .button.highlight:hover {
    background: rgb(120,210,165);
}
.screen .left-content .button.signature {
    left: 50%;
	top: 15%;
    margin-left: 16px;
}
.o_sign_clean{
    color: #00a09d;
}
.screen .left-content .button.print {
    left: 50%;
	top: 75%;
    margin-left: 16px;
}
.o_list_report{
    text-align: center;
    width: 60%;
    margin-left: 16px;
    font-size: large;
}
.o_report_paper_format{
    font-size: large;
    margin-left: 16px;
}
