<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Pos Multi Barcode</h2>
        <h3 class="oe_slogan">Enhance scanning multi barcode feature of POS</h3>
        <div class="oe_centeralign oe_mt32 oe_mb32">
            <a target="_blank" href="https://youtu.be/oeSa1jMUzy4" class="oe_button oe_big oe_tacky">Watch the video</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Pos Multi Barcode Features:</h2>
        <div class="oe_span16">
            <p class="oe_mt32">
                Normally, Odoo only supports one barcode for one product. But in some case, we need to support multi barcode for one product. Pos Multi Barcode module is really helpful for you in that cases.
                This module not only supports to search a product with multi barcode on BackOffice, but the main purpose is the ability that allow to scan product with multi barcode on POS.
            </p>
            <ul>
                <li>Compliance with Native Odoo</li>
                <li>Set-up multiple barcode for product at product template or product variants on BackOffice</li>
                <li>Allowing search product with multi barcode on Sale/Purchase/Inventory...</li>
                <li>Allowing scan product on POS with multi barcode</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Set up our multi barcode at Backend</h2>
        <h3 class="oe_slogan"></h3>
        <div class="oe_span8">
            <img class="oe_picture" src="set_multibarcode_backend.png">
        </div>
        <div class="oe_span4 text-justify">
            <p class="oe_mt32">
                 Setup multi barcode in backend at product variants level
            </p>
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Scan multi barcode on POS</h2>
        <div class="text-center">
            <p class="oe_mt32">

            </p>
        </div>
        <div class='oe_row_img oe_centered oe_mt32'>
            <img class="oe_picture oe_screenshot" src="scan_barcode_pos.png">
        </div>
    </div>
</section>


<section class='oe_container'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Search product by multi barcode on Backend</h2>
        <h3 class="oe_slogan">Allowing search product with multi barcode on Sale/Purchase/Inventory...</h3>
        <div class="text-center">
            <p class="oe_mt32">
            </p>
        </div>
        <div class='oe_row_img oe_centered oe_mt32'>
            <img class="oe_picture oe_screenshot" src="scan_barcode_on_sale.png">
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Demo</h2>
        <h3 class="oe_slogan">For testing, please login with user/password: demo/demo</h3>
        <div class="text-center">
            <h3><a href="https://demo11.fauniq.com/web/login">https://demo11.fauniq.com</a></h3>
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Support</h2>
        <h3 class="oe_slogan">For support or customize further features, please contact me at:</h3>
        <div class="text-center">
            <h3>Email: fauniq.erp@gmail.com</h3>
        </div>
    </div>
</section>
<section class="oe_container oe_separator">
</section>
